ATS Scores Prediction.json
{
  "name": "ATS Score Prediction",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        -16
      ],
      "id": "ce846365-6509-407f-bb2a-55b9490d4f8c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "587ccdf4-bdbc-441d-bbd5-ee5248b21ed4"
    },
    {
      "parameters": {
        "jsCode": "// Function Node code to convert Google Drive viewing link to download link\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Extract file ID from Google Drive link\n  const fileId = item.json.Cv_Links.match(/\\/d\\/([a-zA-Z0-9_-]+)/)[1];\n  \n  // Create direct download link\n  const downloadUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n  \n  results.push({\n    json: {\n      ...item.json,\n      download_url: downloadUrl  // This is the direct download URL\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -112
      ],
      "id": "2dc46459-9d80-4334-842d-87523211d5af",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -112
      ],
      "id": "680f3230-c158-4580-9efa-a5ac934bdc9d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        -112
      ],
      "id": "d19535d4-9811-44ab-baf2-d8ece4ecfb17",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Extract the model's JSON response\n  const raw = item.json.content?.parts?.[0]?.text || \"\";\n  const cleaned = raw.replace(/```json|```/g, \"\").trim();\n\n  let parsed = {};\n  let score = null;\n  try {\n    parsed = JSON.parse(cleaned);\n    score = parsed.score ?? null;\n  } catch (e) {\n    parsed = { error: \"Parsing failed\", raw };\n  }\n\n  results.push({\n    json: {\n      Name: item.json.Name || $('Code').first().json.Name,\n      Cv_Links: item.json.link || $('Code').first().json.cv_link,\n      ATS_Score: score\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -112
      ],
      "id": "567ccfff-a0d1-47c7-8803-831adb162e98",
      "name": "Code1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an ATS scoring assistant. \nAlways respond ONLY with valid JSON in the format: {\"score\": <int 0-100>}.\n\nResume text:\n{{$json[\"text\"]}}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        880,
        -112
      ],
      "id": "3039f7c8-a476-4026-b3a6-88c4d144a47d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "vAl8X15iO7mWXVqw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dj583GBOp2_emeJMYer7RQBXqw3Fv5pbxxk80BnlCLc",
          "mode": "list",
          "cachedResultName": "Cv_file",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dj583GBOp2_emeJMYer7RQBXqw3Fv5pbxxk80BnlCLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 48235218,
          "mode": "list",
          "cachedResultName": "Cv_file.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dj583GBOp2_emeJMYer7RQBXqw3Fv5pbxxk80BnlCLc/edit#gid=48235218"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -16
      ],
      "id": "0bd0df9a-ac9a-4ced-a4ad-876c7d4e9fb4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eTHTQrFGXEVt9Rk9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Dj583GBOp2_emeJMYer7RQBXqw3Fv5pbxxk80BnlCLc",
          "mode": "list",
          "cachedResultName": "Cv_file",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dj583GBOp2_emeJMYer7RQBXqw3Fv5pbxxk80BnlCLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 48235218,
          "mode": "list",
          "cachedResultName": "Cv_file.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dj583GBOp2_emeJMYer7RQBXqw3Fv5pbxxk80BnlCLc/edit#gid=48235218"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Code').item.json.Name }}",
            "ATS_Score": "={{ $json.ATS_Score }}",
            "Cv_Links": "={{ $('Code').item.json.Cv_Links }}"
          },
          "matchingColumns": [
            "Cv_Links"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cv_Links",
              "displayName": "Cv_Links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ATS_Score",
              "displayName": "ATS_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -112
      ],
      "id": "b0bf4eb5-2e46-465a-b9a7-3319d8f2b13c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eTHTQrFGXEVt9Rk9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -16
      ],
      "id": "3bbaf5f3-5a15-4953-aa6d-5cccb75d5f1b",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57bb1d10-6736-48a7-adab-2d59963ef445",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de51f7ff1a5546784477ddcb19ce2be9471f20d62807632b527b19fa6ad278c1"
  },
  "id": "Domle12f4p192YeI",
  "tags": []
}